development:
  adapter: postgresql
  database: openbank
  username: michael
  password: m
  host: localhost

test:
  adapter: postgresql
  database: openbank
  username: michael
  password: m
  host: localhost

production:
  adapter: postgresql
  database: openbank
  username: michael
  password: m
  host: localhost
